<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orion.ops.dao.ApplicationVcsDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.orion.ops.entity.domain.ApplicationVcsDO">
        <id column="id" property="id"/>
        <result column="vcs_name" property="vcsName"/>
        <result column="vcs_description" property="vcsDescription"/>
        <result column="vcs_type" property="vcsType"/>
        <result column="vsc_url" property="vscUrl"/>
        <result column="vsc_username" property="vscUsername"/>
        <result column="vcs_password" property="vcsPassword"/>
        <result column="vcs_access_token" property="vcsAccessToken"/>
        <result column="vcs_status" property="vcsStatus"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, vcs_name, vcs_description, vcs_type, vsc_url, vsc_username, vcs_password, vcs_access_token, vcs_status, deleted, create_time, update_time
    </sql>

    <select id="selectNameByIdList" resultMap="BaseResultMap">
        SELECT id, vcs_name
        FROM application_vcs
        WHERE id IN
        <foreach collection="idList" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
        AND deleted = 1
    </select>

</mapper>
