<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.orion.ops.dao.ApplicationBuildActionDAO">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.orion.ops.entity.domain.ApplicationBuildActionDO">
        <id column="id" property="id"/>
        <result column="build_id" property="buildId"/>
        <result column="action_id" property="actionId"/>
        <result column="action_name" property="actionName"/>
        <result column="action_type" property="actionType"/>
        <result column="action_command" property="actionCommand"/>
        <result column="log_path" property="logPath"/>
        <result column="run_status" property="runStatus"/>
        <result column="exit_code" property="exitCode"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="deleted" property="deleted"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, build_id, action_id, action_name, action_type, action_command,
        log_path, run_status, exit_code, start_time, end_time, deleted, create_time, update_time
    </sql>

    <!-- 状态列 -->
    <sql id="Base_Status_Columns">
        SELECT id, run_status, start_time, end_time, exit_code
        FROM application_build_action
    </sql>

    <select id="selectStatusById" resultType="java.lang.Integer">
        SELECT run_status
        FROM application_build_action
        WHERE build_id = #{id}
        AND deleted = 1
    </select>

    <select id="selectStatusInfoByBuildId" resultMap="BaseResultMap">
        <include refid="Base_Status_Columns"/>
        WHERE build_id = #{buildId}
        AND deleted = 1
    </select>

    <select id="selectStatusInfoById" resultMap="BaseResultMap">
        <include refid="Base_Status_Columns"/>
        WHERE id = #{id}
        AND deleted = 1
    </select>

    <select id="selectStatusInfoByIdList" resultMap="BaseResultMap">
        <include refid="Base_Status_Columns"/>
        WHERE id IN
        <foreach collection="idList" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND deleted = 1
    </select>

    <select id="selectActionIdByBuildId" resultType="java.lang.Long">
        SELECT id
        FROM application_build_action
        WHERE build_id = #{buildId}
        AND deleted = 1
        ORDER BY id ASC
    </select>

</mapper>
